@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/start-page.css" />

<img class="background-img" src="~/assets/background.jpg" />
<div class="background-block">
    <div class="icon-block">
        <img src="~/assets/easy-note-icon.jpg" />

        <h1>EasyNote</h1>
    </div>

    <main class="form-block">
        @RenderBody()
    </main>
</div>