@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="calendar">
    <div id="month_year_container">
        <div id="month">
            April
        </div>

        <div id="year">
            2025
        </div>
    </div>

    <div id="calendar_week_names">
        <div>SUN</div>
        <div>MON</div>
        <div>TUE</div>
        <div>WED</div>
        <div>THU</div>
        <div>FRI</div>
        <div>SAT</div>
    </div>

    <div id="calendar_days">

    </div>
</div>

<link rel="stylesheet" href="~/css/Calendar.css" />
<script src="~/js/Calendar.js"></script>