@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<dialog id="scroll_selector_dialog">
    
</dialog>

<dialog id="day_block_dialog" data-target-id="">
    <div>
        <div id="day_block_dialog_date">
            <div>
                <i class="bi bi-calendar-event"></i>
                <span></span>
            </div>

            <div>
                <span></span>
                <span></span>
            </div>
        </div>

        <button id="new_event_btn"><i class="bi bi-calendar-plus-fill"></i>New event</button>

        <div id="day_block_dialog_event_container">
            
        </div>
    </div>
</dialog>

<dialog id="new_edit_event_dialog" data-target-id="">
    <form method="dialog">
        <input id="event_title_input" name="title" type="text" maxlength="50" placeholder="Title(Max length: 50)" required />

        <div>
            <input id="event_start_date_input" name="start_date" type="datetime-local" required min="1900-01-01T00:00" />
            <i class="bi bi-arrow-right"></i>
            <input id="event_end_date_input" name="end_date" type="datetime-local" required />
        </div>

        <textarea id="event_content_textarea" name="content" type="text" maxlength="150" placeholder="Content(Max length: 150)" rows="10"></textarea>

        <div>
            <button type="button" onclick="document.getElementById('new_edit_event_dialog').close();">Cancel</button>
            <button id="new_event_submit_button" type="submit" data-submit-type="new">New</button>
            <button id="edit_event_submit_button" type="submit" data-submit-type="edit">Edit</button>
        </div>
    </form>
</dialog>

<dialog id="delete_event_dialog" data-target-id="">
    <form method="dialog">
        <span>Sure want to delete this event</span>

        <div>
            <button type="button" onclick="document.getElementById('delete_event_dialog').close();">Cancel</button>
            <button type="submit">Delete</button>
        </div>
    </form>
</dialog>

<div id="calendar">
    <div id="month_year_container">
        <div id="month"></div>

        <div id="year"></div>
    </div>

    <div id="calendar_week_names">
        <div>SUN</div>
        <div>MON</div>
        <div>TUE</div>
        <div>WED</div>
        <div>THU</div>
        <div>FRI</div>
        <div>SAT</div>
    </div>

    <div id="calendar_days">

    </div>
</div>

<link rel="stylesheet" href="~/css/calendar.css" />

<script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
<script src="~/js/scroll-selector.js"></script>
<script type="module" src="~/js/calendar.js"></script>