@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "StartPageLayout";
}

@if (TempData["state"] != null)
{
    @if (TempData["state"].Equals("complete"))
    {
        <script>
            window.alert("Account password changed!");
            location.href = "/";
        </script>
    }
}

<link rel="stylesheet" href="~/css/login-register-form.css" />
<link rel="stylesheet" href="~/css/forgot-password.css" />

<h1 class="form-title">Password reset</h1>
<form asp-controller="Main" asp-action="ForgotPassword" method="post">
    <div class="input-group">
        <input id="email" class="form-control" placeholder="Email" type="email" name="account" required>
    </div>

    <div class="input-group horizontal">
        <input id="verification_code_input" class="form-control" name="verificationCode" type="text" maxlength="6" placeholder="Verification code" required />
        <button id="send_verification_code_button" type="button">Send code</button>
    </div>

    <div class="input-group input-group-password">
        <input id="password" class="form-control" placeholder="New password" type="password" name="password" required>
        <button type="button" onclick="togglePassword(this, 'password')">
            <i class="bi bi-eye-fill"></i>
        </button>
    </div>

    <div class="input-group input-group-password">
        <input id="confirm_password" class="form-control" placeholder="Confirm new password" type="password" name="confirmPassword" required>
        <button type="button" onclick="togglePassword(this, 'confirm_password')">
            <i class="bi bi-eye-fill"></i>
        </button>
    </div>

    <div id="error_text">@TempData["error"]</div>

    <button type="submit" class="register-btn">Confirm</button>

    <div class="register-text">
        <a>Already have an account?</a>
        <a href="/">Login</a>
    </div>
</form>

<script src="~/js/forgot-password.js"></script>