@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using EasyNote.DTOs;
@model AllNotesDTO
@{
    string userId = User.Claims.First(claim => claim.Type == ClaimTypes.Sid).Value;
    string selectedNoteId = Model.SelectedNoteId;
}

<link rel="stylesheet" href="~/css/workspace.css" />

<div id="contextmenu_page" class="custom-contextmenu">
</div>

<div id="contextmenu_content_block" class="custom-contextmenu" target-id="">
    <div id="delete_line"><i class="bi bi-trash-fill"></i>Delete line</div>
</div>

<div id="main">
    <input id="title" placeholder="Untitled"/>
    <script src="~/js/workspace.js"></script>
    @if (Model.SelectedNoteId != null)
    {
        <script>
            setInfo('@userId', '@selectedNoteId');
            showNote();
        </script>
    }
    else
    {
        <script>
            document.getElementById("title").style.display = "none";
        </script>
        <h1>Welcome @User.Claims.First(claim => claim.Type == ClaimTypes.Name).Value</h1>
    }
</div>