@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using EasyNote.DTOs;
@model AllNotesDTO
@{
    string userId = User.Claims.First(claim => claim.Type == ClaimTypes.Sid).Value;
    string selectedNoteId = Model.SelectedNoteId;
}

<!--title font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/css/text-style.css" />
<link rel="stylesheet" href="~/css/workspace.css" />

<div id="contextmenu_page" class="custom-contextmenu" tabindex="-1">
    <div class="contextmenu-functions" title="Bold" onclick="changeSelectedTextStyle('text-weight-bold');"><i class="bi bi-type-bold"></i></div>
    <div class="contextmenu-functions" title="Italicize" onclick="changeSelectedTextStyle('text-italicize');"><i class="bi bi-type-italic"></i></div>
    <div class="contextmenu-functions" title="Underline" onclick="changeSelectedTextStyle('text-underline');"><i class="bi bi-type-underline"></i></div>
    <div class="contextmenu-functions" title="Line through" onclick="changeSelectedTextStyle('text-line-through');"><i class="bi bi-type-strikethrough"></i></div>
    <div class="contextmenu-functions" title="Text color" onclick="toggleTextColorDropdownDisplay()"><i class="bi bi-palette"></i><i class="bi bi-chevron-down"></i></div>
    <div id="text_color_dropdown">
        <a>Text</a>
        <div>
            <div title="White" class="text-color-white" onclick="changeSelectedTextStyle('text-color-white')">A</div>
            <div title="Black" class="text-color-black" onclick="changeSelectedTextStyle('text-color-black')">A</div>
            <div title="Yellow" class="text-color-yellow" onclick="changeSelectedTextStyle('text-color-yellow')">A</div>
            <div title="Red" class="text-color-red" onclick="changeSelectedTextStyle('text-color-red')">A</div>
            <div title="Blue" class="text-color-blue" onclick="changeSelectedTextStyle('text-color-blue')">A</div>
            <div title="Green" class="text-color-green" onclick="changeSelectedTextStyle('text-color-green')">A</div>
            <div title="Dark green" class="text-color-darkgreen" onclick="changeSelectedTextStyle('text-color-darkgreen')">A</div>
            <div title="Dark blue" class="text-color-darkblue" onclick="changeSelectedTextStyle('text-color-darkblue')">A</div>
            <div title="Dark red" class="text-color-darkred" onclick="changeSelectedTextStyle('text-color-darkred')">A</div>
        </div>

        <a>Background</a>
        <div>
            <div title="Transparent" class="highlight-transparent" onclick="changeSelectedTextStyle('highlight-transparent')">A</div>
            <div title="Black" class="highlight-black" onclick="changeSelectedTextStyle('highlight-black')">A</div>
            <div title="Yellow" class="highlight-yellow" onclick="changeSelectedTextStyle('highlight-yellow')">A</div>
            <div title="Red" class="highlight-red" onclick="changeSelectedTextStyle('highlight-red')">A</div>
            <div title="Blue" class="highlight-blue" onclick="changeSelectedTextStyle('highlight-blue')">A</div>
            <div title="Green" class="highlight-green" onclick="changeSelectedTextStyle('highlight-green')">A</div>
            <div title="Dark green" class="highlight-darkgreen" onclick="changeSelectedTextStyle('highlight-darkgreen')">A</div>
            <div title="Dark blue" class="highlight-darkblue" onclick="changeSelectedTextStyle('highlight-darkblue')">A</div>
            <div title="Dark red" class="highlight-darkred" onclick="changeSelectedTextStyle('highlight-darkred')">A</div>
        </div>
    </div>
</div>

<div id="content_block_options" class="custom-contextmenu" tabindex="-1" data-target-id="">
    <div class="flex-row">
        <div title="Text left" class="contextmenu-functions" onclick="justifyText('start')"><i class="bi bi-text-left"></i></div>
        <div title="Text center" class="contextmenu-functions" onclick="justifyText('center')"><i class="bi bi-text-center"></i></div>
        <div title="Text right" class="contextmenu-functions" onclick="justifyText('end')"><i class="bi bi-text-right"></i></div>
    </div>

    <div class="contextmenu-functions" onclick="setTextSize('2em')"><i class="bi bi-type-h1"></i><a>Heading 1</a></div>
    <div class="contextmenu-functions" onclick="setTextSize('1.5em')"><i class="bi bi-type-h2"></i><a>Heading 2</a></div>
    <div class="contextmenu-functions" onclick="setTextSize('1.17em')"><i class="bi bi-type-h3"></i><a>Heading 3</a></div>
    <div class="contextmenu-functions" onclick="setTextSize('1em')"><i class="bi bi-fonts"></i><a>Text</a></div>
    <div id="content_block_options_delete" class="contextmenu-functions" onclick="deleteContentBlock()"><i class="bi bi-trash-fill"></i>Delete</div>
</div>

<div id="content_image_resizer" tabindex="-1" draggable="false" data-target-id="">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" mirror-in-rtl="true" fill="currentColor">
        <path d="M14.228 16.227a1 1 0 0 1-.707-1.707l1-1a1 1 0 0 1 1.416 1.414l-1 1a1 1 0 0 1-.707.293zm-5.638 0a1 1 0 0 1-.707-1.707l6.638-6.638a1 1 0 0 1 1.416 1.414l-6.638 6.638a1 1 0 0 1-.707.293zm-5.84 0a1 1 0 0 1-.707-1.707L14.52 2.043a1 1 0 1 1 1.415 1.414L3.457 15.934a1 1 0 0 1-.707.293z" style="" />
    </svg>
</div>

<div id="main">
    <input id="title" placeholder="Untitled"/>
    <div id="note">
        
    </div>

    <script src="~/js/workspace.js"></script>
    @if (Model.SelectedNoteId != null)
    {
        <script>
            setInfo('@userId', '@selectedNoteId');
            const promise = new Promise(showNote);
            promise.then(value => {
                initNote();
                startAutoSave();
            });
        </script>
    }
    else
    {
        <script>
            document.getElementById("title").style.display = "none";
        </script>
        <h1>Welcome @User.Claims.First(claim => claim.Type == ClaimTypes.Name).Value</h1>
    }
</div>
