@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@User.Claims.First(claim => claim.Type == ClaimTypes.Email).Value<br>
@User.Claims.First(claim => claim.Type == ClaimTypes.Name).Value<br>
<a class="nav-link" asp-action="Logout" style="color: indianred">Logout</a>