.form-block {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 64%;
    align-items: center;
}

.login-form-wrapper {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50%;
}

.form-title {
    text-align: center;
    color: white;
    font-weight: bold;
    filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
}

.input-group {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

    .input-group input {
        filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
    }

.input-group-password {
    display: flex;
    align-items: center;
}

    .input-group-password input {
        margin-right: 28px;
    }

    .input-group-password button {
        position: absolute;
        right: 0;
        height: 100%;
        background: #4F4F4F;
        border: none;
        border-radius: 0.375rem;
        cursor: pointer;
        z-index: 10;
        filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
        color: white;
    }
        .input-group-password button:hover {
            background: #434343;
        }

    .error-text {
        color: #b40d0d;
        text-align: center;
    }

.login-btn {
    margin-top: 20%;
    width: 100%;
    height: 45px;
    padding: 10px;
    background: #4F4F4F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
    filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
}

    .login-btn:hover {
        background: #434343;
    }

.register-text {
    margin-top: 5px;
    text-align: center;
    color: white;
    filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
}

.register-form-wrapper-outer {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-right: -50%;
}

.register-form-wrapper-inner {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.register-btn {
    margin-top: 20%;
    width: 100%;
    height: 45px;
    padding: 10px;
    background: #4F4F4F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
    filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
}

    .register-btn:hover {
        background: #434343;
    }

.back-btn {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 50px 10px 50px 0px;
}

    .back-btn button {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        width: 35px;
        height: 100%;
        padding: 2px;
        background: #fff;
        opacity: 0;
        border: none;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
    }

        .back-btn button:hover {
            animation: btn-hover 0.5s forwards;
        }

    .back-btn svg {
        color: #fff;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        margin: auto;
        filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
    }

@keyframes btn-hover {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 20%;
    }
}

@keyframes slide-in {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0%;
        visibility: collapse;
    }

    100% {
        -webkit-transform: translateX(0%);
        opacity: 100%;
        visibility: visible;
    }
}

@keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 100%;
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(-100%);
        opacity: 0%;
        visibility: collapse;
    }
}