.form-block {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 64%;
    align-items: center;
    margin-left: 10%;
    margin-right: -20%;
    max-width: 300px;
}

.login-form-wrapper {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.form-title {
    text-align: center;
    color: white;
    font-weight: bold;
    filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
}

.input-group {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

    .input-group input {
        filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
    }

.input-group-password {
    display: flex;
    align-items: center;
}

    .input-group-password input {
        margin-right: 28px;
    }

    .input-group-password button {
        position: absolute;
        right: 0;
        height: 100%;
        background: #4F4F4F;
        border: none;
        border-radius: 0.375rem;
        cursor: pointer;
        z-index: 10;
        filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
        color: white;
    }
        .input-group-password button:hover {
            background: #434343;
        }

    .error-text {
        color: #b40d0d;
        text-align: center;
    }

.login-btn {
    margin-top: 20%;
    width: 100%;
    height: 45px;
    padding: 10px;
    background: #4F4F4F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
    filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
}

    .login-btn:hover {
        background: #434343;
    }

.register-text {
    margin-top: 5px;
    text-align: center;
    color: white;
    filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
}

.register-form-wrapper-outer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.register-form-wrapper-inner {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.register-btn {
    margin-top: 20%;
    width: 100%;
    height: 45px;
    padding: 10px;
    background: #4F4F4F;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 19px;
    filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
}

    .register-btn:hover {
        background: #434343;
    }

.back-btn {
    display: flex;
    background: #ffffff00;
    border: none;
    border-radius: 10px;
    align-items: center;
    color: white;
    transition: 0.3s;
    margin-left: -40px;
    margin-right: 10px;
}
    .back-btn:hover {
        background: #ffffff20;
    }

    .back-btn i {
        filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
        font-size: 25px;
    }

@keyframes slide-in {
    0% {
        display: flex;
        -webkit-transform: translateX(100%);
        opacity: 0%;
        visibility: collapse;
    }

    80% {
        display: flex;
    }

    100% {
        display: flex;
        -webkit-transform: translateX(0%);
        opacity: 100%;
        visibility: visible;
    }
}

@keyframes slide-out {
    0% {
        display: none;
        -webkit-transform: translateX(0%);
        opacity: 100%;
        visibility: visible;
    }

    80% {
        display: none;
    }

    100% {
        display: none;
        -webkit-transform: translateX(-100%);
        opacity: 0%;
        visibility: collapse;
    }
}

.horizontal {
    display: flex;
    flex-direction: row;
}

#verification_code_input {
    border-radius: 0.375rem;
    margin-right: 10px;
}

#send_verification_code_button {
    font-size: 12px;
    font-weight: bold;
    background: #4F4F4F;
    border: none;
    border-radius: 0.375rem;
    filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
    color: white;
}

    #send_verification_code_button:hover {
        background: #6e6e6e;
    }

    #send_verification_code_button[disabled] {
        background: #d8d8d8;
    }

        #send_verification_code_button[disabled]:hover {
            background: #d8d8d8;
        }

@media screen and (max-width: 500px){
    .form-block {
        margin-left: 0;
        margin-right: 0;
    }

    .login-form-wrapper {
        flex-grow: 1;
    }

    .register-form-wrapper-outer {
        justify-self: center;
        flex-grow: 1;
    }
}
