.input-group {
    margin-bottom: 15px;
    text-align: left;
}

    .input-group label {
        display: block;
        font-size: 14px;
    }

    .input-group input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.error-text {
    color: indianred;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .login-btn:hover {
        background: #218838;
    }