:root {
    --cancel-button-color: #d8d8d8;
    --cancel-button-hover-color: #b9b9b9;
}

input {
    border: none;
    border-bottom: 1px solid #929292;
}

    input:focus {
        outline: none;
        border-bottom: 1px solid #000;
    }

.form-dialog {
    border: none;
    border-radius: 10px;
    filter: drop-shadow(var(--drop-shdow-color) 0.2rem 0.2rem 2px);
    padding: 0;
}

    .form-dialog form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 100%;
        height: 100%;
    }

.dialog-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    align-self: start;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.cancel-button {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    margin-top: 10px;
    background: var(--cancel-button-color);
    margin-right: 10px;
    font-weight: bold;
}

    .cancel-button:hover {
        background: var(--cancel-button-hover-color);
    }

.confirm-button {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    margin-top: 10px;
    background: var(--main-color);
    color: white;
    margin-left: 10px;
    font-weight: bold;
}

    .confirm-button:hover {
        background: var(--main-color-hover);
    }

#profile_content {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    max-width: 850px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

    #profile_content > div {
        display: flex;
        background: var(--main-color-hover);
        border-radius: 100px;
        color: white;
        padding: 10px 10px 10px 20px;
        align-items: center;
        width: 100%;
        height: 60px;
        filter: drop-shadow(var(--drop-shdow-color) 0.2rem 0.2rem 2px);
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: start;
        font-weight: bold;
    }

        #profile_content > div > span:first-child {
            flex-grow: 1;
        }

            #profile_content > div > span:nth-child(2) {
                padding-right: 10px;
            }

        #profile_content > div:first-child {
            display: flex;
            align-items: center;
            align-self: start;
            margin-top: 40px;
            margin-bottom: 40px;
            background: #ffffff00;
            filter: none;
            height: auto;
        }

            #profile_content > div:first-child > div {
                display: flex;
                align-items: end;
            }

                #profile_content > div:first-child > div > img {
                    width: 210px;
                    height: 210px;
                    border-radius: 200px;
                }

                #profile_content > div:first-child > div > button {
                    margin-left: -35px;
                }

            #profile_content > div:first-child > span {
                font-size: 40px;
                padding: 10px;
                color: black;
            }

.edit-button {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    color: white;
    background: var(--main-color);
    border: none;
    filter: drop-shadow(var(--drop-shdow-color) 0.2rem 0.2rem 2px);
    justify-content: center;
    align-items: center;
}

    .edit-button:hover {
        background: var(--main-color-hover);
    }

#image_upload_dialog {
    width: 70%;
}

    #image_upload_dialog form {
        align-items: center;
    }

        #image_upload_dialog form div {
            display: flex;
            width: 100%;
        }

#file_input {
    margin-bottom: 10px;
    align-self: start;
}

#image_preview {
    width: 100%;
}

#loading_spinner_dialog {
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    filter: drop-shadow(var(--drop-shdow-color) 0.1rem 0.1rem 2px);
}

    #loading_spinner_dialog div {
        display: flex;
        align-items: center;
    }

        #loading_spinner_dialog div img {
            margin-right: 10px;
        }

    #loading_spinner_dialog::backdrop {
        background: #00000050;
    }

#name_edit_dialog {
    width: 500px;
}

        #name_edit_dialog form > div {
            margin-top: 20px;
        }

#password_edit_dialog {
    width: 400px;
}

        #password_edit_dialog form input {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #password_edit_dialog form div {
            margin-top: 20px;
        }

#password_error_msg {
    color: indianred;
}

#email_edit_dialog {
    width: 500px;
}

        #email_edit_dialog form > div {
            margin-top: 20px;
        }

#email_input {
    margin-top: 20px;
}

#send_verification_code_button {
    width: auto;
    margin: 0;
    margin-left: 20px;
}

    #send_verification_code_button[disabled] {
        background: var(--cancel-button-color)
    }

        #send_verification_code_button[disabled]:hover {
            background: var(--cancel-button-color)
        }

#verification_code_input {
    flex-grow: 1;
}

#email_error_msg {
    margin-top: 10px;
    color: indianred;
}

#logout_button {
    color: white;
    border: none;
    background: indianred;
    padding: 8px 20px;
    border-radius: 100px;
    filter: drop-shadow(var(--drop-shdow-color) 0.2rem 0.2rem 2px);
    align-self: end;
    margin-top: 10px;
    text-decoration: none;
}

    #logout_button:hover {
        background: #ff7979;
    }

    #logout_button i {
        margin-right: 5px;
    }
