html, body {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.background-img {
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(6px);
    z-index: 1;
}

.background-block {
    display: flex;
    margin: auto;
    width: 65%;
    height: 65%;
    padding: 4%;
    box-sizing: border-box;
    background: #ffffff40;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.icon-block {
    display: flex;
    width: 420px;
    height: 300px;
    margin-left: -100px;
    justify-self: flex-start;
    background: #4f4f4f;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
}

    .icon-block img {
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 15px;
        padding: 5px;
        filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
    }

    .icon-block h1 {
        color: white;
        font-weight: bold;
        padding: 5px;
        filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
        margin: 0;
    }

@media screen and (max-width: 500px) {
    .background-block {
        background: #ffffff00;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .icon-block {
        display: flex;
        top: 0;
        position: absolute;
        width: 100%;
        height: auto;
        padding: 10px;
        background: #4f4f4f;
        border-radius: 0;
        justify-content: start;
        align-items: center;
        filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
        margin: 0;
    }

        .icon-block img {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 15px;
            padding: 5px;
            filter: drop-shadow(#00000082 0.2rem 0.2rem 2px);
        }

        .icon-block h1 {
            font-size: 20px;
        }
}