.text-weight-bold {
    font-weight: bold;
}

.text-italicize {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-line-through {
    text-decoration: line-through;
}

.highlight-yellow {
    background: #fff600
}

.highlight-red {
    background: #ff0000
}

.text-color-yellow {
    color: #fff600;
}

.text-color-red {
    color: #ff0000;
}