.text-weight-bold {
    font-weight: bold;
}

.text-italicize {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-line-through {
    text-decoration: line-through;
}



.text-color-white {
    color: #fff;
}

.text-color-black {
    color: #000;
}

.text-color-yellow {
    color: #fff600;
}

.text-color-red {
    color: #ff0000;
}

.text-color-blue {
    color: #008aff;
}

.text-color-green {
    color: #0aff00;
}



.highlight-transparent {
    background: #fff0;
    border-radius: 5px;
}

.highlight-black {
    background: #000;
    border-radius: 5px;
}

.highlight-yellow {
    background: #fff600;
    border-radius: 5px;
}

.highlight-red {
    background: #ff0000;
    border-radius: 5px;
}

.highlight-blue {
    background: #008aff;
    border-radius: 5px;
}

.highlight-green {
    background: #0aff00;
    border-radius: 5px;
}
