#title {
    display: none;
    width: 100%;
    font-size: 38px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 900;
    font-style: normal;
    overflow-wrap: break-word;
    padding: 20px;
    border: none;
}

    #title:focus {
        outline: none;
    }

#workspace_content {
    width: 100%;
    max-width: 800px;
    padding: 10px;
}

.empty-block {
    height: 0;
    user-select: none;
}

.content-block-wrapper {
    animation: slide-in forwards 0.5s;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    50% {
        opacity: 100%;
        transform: translateX(0);
    }

    70% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(0);
    }
}

.content-block {
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

    .content-block-hover, .content-block:hover {
        background: #efefef;
        filter: drop-shadow(var(--drop-shdow-color) 0.1rem 0.1rem 2px);
    }

        .content-block-hover .drag-block, .content-block:hover .drag-block {
            opacity: 100%;
            filter: drop-shadow(var(--drop-shdow-color) 0.1rem 0.1rem 2px);
        }

        .content-block-hover .option-block, .content-block:hover .option-block {
            opacity: 100%;
            filter: drop-shadow(var(--drop-shdow-color) 0.1rem 0.1rem 2px);
        }

.insert-line {
    border-bottom: 5px solid #66badb;
    border-radius: 0;
}

.content {
    display: flex;
    width: 95%;
    padding: 10px 10px;
}

    .content:focus {
        outline: none;
    }

.content-object {
    max-width: 100%;
    min-width: 20%;
    user-select: none;
    flex-shrink: 0;
    align-self: center;
}

    .content-object img {
        border-radius: 10px;
        max-width: 100%;
        min-width: 100%;
    }

.content-text {
    border-radius: 10px;
    width: 100%;
    align-self: center;
    padding: 0 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

    .content-text:focus {
        outline: none;
    }

    .content-text ul {
        margin-bottom: 0;
    }

.drag-block {
    display: flex;
    background: var(--main-color);
    border-radius: 5px;
    height: 40px;
    width: 25px;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    opacity: 0%;
    transition: all 0.3s;
    cursor: grab;
}

    .drag-block img {
        width: 15px;
        user-select: none;
    }

.option-block {
    display: flex;
    background: var(--main-color);
    border-radius: 5px;
    height: 40px;
    width: 25px;
    justify-content: center;
    align-items: center;
    margin-right: -15px;
    opacity: 0%;
    transition: all 0.3s;
    cursor: pointer;
}

    .option-block img {
        height: 20px;
        user-select: none;
    }

.content-block-insert-dropdown {
    display: flex;
    height: 20px;
    align-items: center;
    transition: all 0.3s;
    transition-delay: 0.2s;
}
    .content-block-insert-dropdown:hover {
        height: 60px;
    }

        .content-block-insert-dropdown:hover .content-block-insert-dropdown-button {
            visibility: visible;
            opacity: 100%;
            transform: translateX(0);
        }

.content-block-insert-dropdown-button {
    display: flex;
    border-radius: 50px;
    width: auto;
    font-weight: bold;
    color: #fff;
    background: var(--main-color);
    border: none;
    padding: 5px 10px;
    filter: drop-shadow(var(--drop-shdow-color) 0.2rem 0.2rem 2px);
    user-select: none;
    font-size: 20px;
    align-items: center;
    visibility: collapse;
    opacity: 0;
    transform: translateX(-60px);
    transition: all 0.3s;
    transition-delay: 0.2s;
    outline: none;
}

    .content-block-insert-dropdown-button:hover {
        background: var(--main-color-hover);
    }

.content-block-insert-dropdown-items {
    display: flex;
    width: 90%;
    height: 90%;
    align-items: center;
    overflow-x: auto;
    visibility: collapse;
    margin-left: 10px;
}

    .content-block-insert-dropdown-items button {
        display: flex;
        margin-right: 10px;
        border: none;
        border-radius: 50px;
        background: var(--main-color);
        color: #fff;
        padding: 5px 15px;
        filter: drop-shadow(var(--drop-shdow-color) 0.2rem 0.2rem 2px);
        visibility: collapse;
        transform: scale(0, 0);
        transition: all 0.3s;
    }

        .content-block-insert-dropdown-items button:hover {
            background: var(--main-color-hover);
        }

        .content-block-insert-dropdown-items button i {
            color: #b5b5b5;
            margin-right: 5px;
        }

        .content-block-insert-dropdown-items button span {
            white-space: nowrap;
        }

        .content-block-insert-dropdown-items button:nth-child(2) {
            transition-delay: 0.05s;
        }

        .content-block-insert-dropdown-items button:nth-child(3) {
            transition-delay: 0.1s;
        }

        .content-block-insert-dropdown-items button:nth-child(4) {
            transition-delay: 0.15s;
        }

        .content-block-insert-dropdown-items button:nth-child(5) {
            transition-delay: 0.2s;
        }

        .content-block-insert-dropdown-items button:nth-child(6) {
            transition-delay: 0.25s;
        }

        .content-block-insert-dropdown-items button:nth-child(7) {
            transition-delay: 0.3s;
        }

.content-block-insert-dropdown-items-show {
    visibility: visible;
}

    .content-block-insert-dropdown-items-show button {
        visibility: visible;
        transform: scale(100%, 100%);
    }

.custom-contextmenu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: #313131;
    border-radius: 10px;
    filter: drop-shadow(var(--drop-shdow-color) 0.2rem 0.2rem 2px);
    z-index: 100;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#contextmenu {
    width: auto;
    height: auto;
    padding: 5px;
    justify-content: space-between;
}

.contextmenu-functions {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px;
    user-select: none;
    border-radius: 5px;
}
    .contextmenu-functions i {
        padding: 2px 5px;
        margin-bottom: 0.125em;
    }

        .contextmenu-functions i:first-of-type {
            color: #b5b5b5;
        }

    .contextmenu-functions a {
        margin-left: 5px;
        padding-right: 5px;
    }

    .contextmenu-functions:hover {
        background: #515151;
    }

#text_color_dropdown {
    display: none;
    position: absolute;
    width: 170px;
    height: auto;
    background: #313131;
    left: 45px;
    top: 60px;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
}

    #text_color_dropdown > a {
        font-size: 12px;
        text-align: start;
    }

    #text_color_dropdown > div {
        display: flex;
        margin: 5px 0 10px 0;
        justify-content: start;
        flex-wrap: wrap;
        background: #313131;
        overflow-y: scroll;
        height: 75px;
    }

    #text_color_dropdown > div > div {
        padding: 3px;
        font-weight: bold;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        text-align: center;
        margin: 3px;
    }

        #text_color_dropdown > div > div:hover {
            background: #515151;
        }

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

#content_block_options {
    width: auto;
    height: auto;
    flex-direction: column;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
    animation: fade-in 0.2s forwards;
}

    #content_block_options > a {
        font-size: 12px;
        align-self: start;
        margin-left: 5px;
        margin-top: 5px;
        user-select: none;
    }

.content-type-list {
    max-height: 120px;
    overflow-y: auto;
}

#content_block_options_delete {
    margin-top: 20px;
    color: indianred;
}

    #content_block_options_delete i {
        color: indianred;
    }

.flex-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#content_image_resizer {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 98;
    filter: drop-shadow(var(--drop-shdow-color) 0.2rem 0.2rem 2px);
    cursor: se-resize;
    color: #000;
    user-select: none;
}

.yooutube_embed {
    border-radius: 10px;
}

#youtube_url_dialog {
    width: 40%;
    background: var(--main-color);
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    filter: drop-shadow(var(--drop-shdow-color) 0.2rem 0.2rem 2px);
    animation: fade-in 0.2s forwards;
}

    #youtube_url_dialog form a {
        color: #fff;
        margin-bottom: 20px;
        user-select: none;
    }

        #youtube_url_dialog form a i {
            margin-right: 5px;
        }

    #youtube_url_dialog form {
        display: flex;
        flex-direction: column;
    }

        #youtube_url_dialog form input {
            padding: 2px 5px;
            border: none;
            border-bottom: 1px solid #b9b9b9;
            color: #fff;
            background: var(--main-color);
            transition: 0.3s;
        }

            #youtube_url_dialog form input::placeholder {
                color: #b9b9b9;
            }

            #youtube_url_dialog form input:focus {
                border: none;
                border-bottom: 1px solid #fff;
                outline: none;
            }

        #youtube_url_dialog form div {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 20px;
            justify-content: space-between;
        }

            #youtube_url_dialog form div button {
                border: none;
                border-radius: 5px;
                background: var(--main-color);
                color: #fff;
            }

                #youtube_url_dialog form div button:hover {
                    filter: drop-shadow(var(--drop-shdow-color) 0.1rem 0.1rem 2px);
                    background: var(--main-color-hover);
                }

                #youtube_url_dialog form div button i {
                    margin-right: 5px;
                }

#to_pdf_button {
    display: flex;
    position: absolute;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: 50px;
    user-select: none;
    z-index: 20;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(var(--drop-shdow-color) 0.1rem 0.1rem 2px);
    right: 0;
    margin: 10px;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
}

    #to_pdf_button:hover {
        background: var(--main-color-hover);
        width: 140px;
        transition: all 0.2s;
    }

        #to_pdf_button:hover span {
            padding-right: 5px;
            visibility: visible;
            transform: scaleX(100%);
            width: 100%;
        }

    #to_pdf_button i {
        font-size: 25px;
        padding: 0 5px;
    }

    #to_pdf_button span {
        font-weight: bold;
        visibility: collapse;
        transform-origin: right;
        transform: scaleX(0);
        width: 0;
        transition: all 0.2s;
    }
